table, th, td {
    text-align: center;
    /* border: 1px solid white;
    border-collapse: collapse; */
}
th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content_table thead tr {
    background-color: #224574;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.chart-center {
    margin-left: 15%;
    margin-right: 15%;
}
.home-image {
    width: 100%;
}
h1 {
    text-align: center;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(29, 29, 29, 0.8)),
                    url('./../images/background_image.png');
    background-attachment: fixed;
    background-size: 100%;
    color: white;
}
