{%extends "base.html"%}
{% block title%}View All Games{% endblock%}
{% block content%}
    
<table class="content_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Required_age</th>
            <th>Is Free</th>
            <th>Num Reviews</th>
            <th>Review Score</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Developers</th>
            <th>Description</th>
            <th>Image</th>
            <!-- <th>Website</th> -->
            <th>Windows</th>
            <th>Mac</th>
            <th>Linux</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        <!-- Let's display only the first 100 rows -->
        {% for item in values[:100] %}
        <tr class="active-row">
            
            <td> <a href="{{item.website}}">{{item.name}}</a></td>
            <td>{{item.required_age}}</td>
            <td> {{item.is_free}}</td>
            <td> {{item.num_reviews}}</td>
            <td> {{item.review_score}}</td>
            <td>{{item.price}}</td>
            <td>{{item.genres}}</td>
            <td>{{item.developers}}</td>
            <td >{{item.short_description}}</td>
            <td><img src="{{item.header_image}}" alt=""></td>
            <td>{{item.windows}}</td>
            <td>{{item.mac}}</td>
            <td>{{item.linux}}</td>
            <td>{{item.categories}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock%}

