{%extends "base.html"%}
{% block title%}Vizualisation{% endblock%}
{% block content %}
 <h1>Some Vizualisation</h1>
    <!--First graph here-->
    <div id="chart1" class="chart-center"></div>
    <!--Second graph here-->
    <div id="chart2" class="chart-center"></div>
    <!--Third graph here-->
    <div id="chart3" class="chart-center"></div>

    <!-- plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Inserting graphs into HTml using javascript -->
    <script type="text/javascript">
      //  First graph
      var graph1 = {{ graph1 | safe }};
      Plotly.plot('chart1', graph1, {});

      // Second graph
      var graph2 = {{ graph2 | safe }};
      Plotly.plot('chart2', graph2, {});

      // Third graph
      var graph3 = {{ graph3 | safe }};
      Plotly.plot('chart3', graph3, {});
    </script>
{% endblock %}
